<ion-content class="content">
  <div class="businnes">
    <div class="title">{{business.name}}<br> <p>Direccion: {{business.direccion}}</p></div>
   
  </div>
  <div class="totalDay">
    <div class="title">Venta del día</div>
    <div>
      <ion-label>S/ 500.5</ion-label>
    </div>
  </div>
  <section>
    <ion-row>
      <ion-col size="6" class="sectionOptions" (click)="goInvoice()">
        <ion-label class="textOptions">Facturador</ion-label>
      </ion-col>
      <ion-col size="6" class="sectionOptions">
        <ion-label class="textOptions">Reportes</ion-label>
      </ion-col>
      <ion-col size="6" class="sectionOptions">
        <ion-label class="textOptions">Almacen</ion-label>
      </ion-col>
      <ion-col size="6" class="sectionOptions">
        <ion-label class="textOptions">Ingresos/Salidas</ion-label>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
