.content{
    background-color: rgba(128, 128, 128, 0.159);
}

.businnes{
    background-color: white;
    height: 100px;
    border-bottom: 1px solid #003d00;
    align-items: center;
    justify-content: center;
    display: flex;

    .title{
        text-align: center;
        p{
            font-size: 12px;
        }
    }
}

.totalDay{
    background-color: rgba(128, 128, 128, 0.159);
    height: 200px;
    text-align: center;
    padding: 70px 0px;
    .title{
        margin-bottom: 10px;
    }
    ion-label{
        font-size:30px;
        font-weight: 600;
        
    }
    border-bottom: 1px solid #003d00;
}

.sectionOptions{
    border:1px solid #003d00;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffc2;

    .textOptions{
        color:black;
        font-size: 14px;
    }
}