<ion-header translucent>
  <ion-toolbar>
    <ion-title>Detalle Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let detail of listInvoiceByCategory; let i = index">
    <ion-card-header>
      <ion-card-subtitle>{{detail.category}}</ion-card-subtitle>
    </ion-card-header>

      <ng-container *ngFor="let item of detail.items; let i1 = index">
        <div style="padding-left: 10px;">
          <ion-label class="lbl-name-product"> - {{item.name}}</ion-label>
        </div>
        <div style="padding: 3px;">
          <ion-chip color="primary" size="small" *ngFor="let salsa of item.salsas; let i2 = index" 
          (click)="removeExtra(i,i1,1,i2)">
            <ion-label>{{salsa.nombre}}</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
        </div>
        <div style="padding: 3px;">
          <ion-chip size="small" *ngFor="let otro of item.otros; let i2 = index" 
          (click)="removeExtra(i,i1,2,i2)">
            <ion-label>{{otro.nombre}}</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
        </div>
      </ng-container>
      <ion-list  *ngFor="let item of detail.items; let i1 = index">
        <ion-item>
          <ion-label>
            <h3>- {{item.name}</h3>
            <p>
              <ion-chip size="small" *ngFor="let otro of item.otros; let i2 = index" 
              (click)="removeExtra(i,i1,2,i2)">
                <ion-label>{{otro.nombre}}</ion-label>
                <ion-icon name="close"></ion-icon>
              </ion-chip>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>


  </ion-card>
</ion-content>
<section>
  <ion-button expand="block">Continuar</ion-button>
</section>