<div class="container">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <section class="form-button">
    <ion-button expand="block" (click)="goSummary()">INGRESAR</ion-button>
  </section>

</div>