.container {
    padding: 10px;
    background-color: white;
    height: 100vh;
}
ion-item {
    --background: none;
    --highlight-color-focused: #757575;
    ion-label {
        font-size: 14px;
        color: #757575;
    }
    ion-input {
        color: #757575;
    }
}
ion-item.item-has-focus > ion-label {
    color: #757575 !important;
}

.form-button {
    padding-top: 10px;
    ion-button{
        --background:#99cc60;
    }
}
