.categories-section{
    width: 100%;
    height: 86px;
    margin-top: 10px;
    position: relative;
    white-space: nowrap;
    overflow: auto;
}

.btn-categories{
    position: relative;
    width: 100%;
    padding: 0px;
}

.categories-section button{
    background-color: #ffffc2;
    width: 33%;
    height: 80px;
    border: 1px solid #ccff90;
    border-radius: 4px;
    margin:2px;
    ion-label{
        color: black;
    }
    &.active{
        border-bottom: 4px solid #003d00;
    }
}

.list-producto{
    font-size: 14px;
}

.btn-see-invoice{
    --background: #629749;
}

.lista-productos{
    --background: red;
}