<div class="categories-section">
  <ng-container *ngFor="let category of OfferCategory">
    <button class="btn-categories" (click)="getInfoCategory(category)" [class.active]="category?.status">
      <ion-label>{{category.name}}</ion-label>
    </button>
  </ng-container>
</div>
<section>
  <ion-list class="lista-productos">
    <ion-item *ngFor="let item of selectedProducts" class="list-producto">
      <ion-label>{{item.name}}</ion-label>
      <ion-label slot="end">{{item.price | currency:'S/'}}</ion-label>
      <ion-icon color="success" name="add-circle-outline" slot="end" (click)="openModalToppings(item)"></ion-icon>
    </ion-item>
  </ion-list>
</section>
<section>
  <ion-button expand="block" class="btn-see-invoice" (click)="seeInvoiceDetail()" >Ver Pedido ({{selectedOffer.length}})</ion-button>
</section>