<ion-header translucent>
  <ion-toolbar>
    <ion-title>Añadidos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2 style="text-align:center"s>{{producto.name}}</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Salsas</ion-card-subtitle>
    </ion-card-header>
        <ion-row>
          <ion-col size="3" *ngFor="let item of listaSalsas">
            <div style="text-align: center;padding: 5px 0px;">
              <ion-label >{{ item.nombre }}</ion-label>
            </div>
            <div style="text-align: center;">
              <ion-checkbox color="dark" [(ngModel)]="item.activo"></ion-checkbox>
            </div>

          </ion-col>
        </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Otros</ion-card-subtitle>
    </ion-card-header>
        <ion-row>
          <ion-col size="3" *ngFor="let item of listaOtros">
            <div style="text-align: center;padding: 5px 0px;">
              <ion-label >{{ item.nombre }}</ion-label>
            </div>
            <div style="text-align: center;">
              <ion-checkbox color="dark" [(ngModel)]="item.activo"></ion-checkbox>
            </div>

          </ion-col>
        </ion-row>
  </ion-card>
  <section style="padding: 20px;" >
    <ion-button expand="block" (click)="addProduct()">Agregar</ion-button>
  </section>
</ion-content>