.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    background: #ccff90;
    text-align: center;
}
.container-bar{
    padding-top: 50vh;
    height: 100%;
}

.bar{
    width: 150px;
    margin: auto;
}

.bar ion-progress-bar{
    --progress-background: #99cc60;
}

.container-bar p{
    width:250px;
    margin:auto;
    padding-top: 30px;
    color: black;
    font-family: 'Roboto',sans-serif;
}