<div class="container">
  <div class="container-bar" *ngIf="loading">
    <div class="bar">
      <ion-progress-bar [value]="progressValue"></ion-progress-bar>
    </div>
    <p>Ingresando a la aplicación...</p>
  </div>
  <div *ngIf="!loading">
    <app-login-component></app-login-component>
  </div>
</div>