<app-header [type]=0 [title]="'Facturador'"></app-header>

<ion-content>
  <section>
    <div class="cabecera-invoice">
        <ion-label>Selecciona una opción</ion-label>
    </div>
    <section [hidden]="!cardArray || cardArray.length === 0">
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col [size]="sizeGrid" *ngFor="let card of cardArray">
                    <ion-card class="ion-activatable tamaño" (click)="onNavigateTo(card)">
                        <ion-ripple-effect></ion-ripple-effect>
                        <!-- <div *ngIf="card?.identifier == 'DecosRepetidoresExternalMT'">
                            <div>
                                <ion-label class="external-decos-repetidores-mt">Para adquirir decos, repetidores y/o bloques de canales puedes hacerlo <span>aquí</span></ion-label>
                            </div>
                        </div> -->
                        <div>
                            <ion-img src={{card?.icon}} class="img-card" [ngStyle]="{'height': sizeImg == true ? '32px':'120px'}"></ion-img>
                            <div>
                                <ion-label class="text-card">{{card?.name}}</ion-label>
                            </div>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </section>
  </section>
</ion-content>
