.cabecera-invoice{
    width: 100%;
    height: 50px;
    position: relative;
    ion-label{
        width: 100%;
        text-align: center;
        top:50%;
        font-size: 18px;
        color:#757575;
        position: absolute;
    }
}

.img-card{
    padding: 20px 0px;
}

.text-card{
    text-align: center;
    font-size: 16px;
}